In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
arq = files.upload()

Saving Aracaju.xlsx to Aracaju.xlsx

In [ ]:
from google.colab import files
arq = files.upload()

Saving Fortaleza.xlsx to Fortaleza.xlsx

In [ ]:
from google.colab import files
arq = files.upload()

Saving Natal.xlsx to Natal.xlsx

In [ ]:
from google.colab import files
arq = files.upload()

Saving Recife.xlsx to Recife.xlsx

In [ ]:
from google.colab import files
arq = files.upload()

Saving Salvador.xlsx to Salvador.xlsx

In [ ]:
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [ ]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [ ]:
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
df.sample(5)

      Cidade       Data  Vendas  LojaID  Qtde
97     Natal 2019-01-02   39.91    1037     3
28    Recife 2019-01-01  123.69     983     3
44     Natal 2019-01-03  500.00     852     4
13  Salvador 2019-02-12   39.29    1035     1
88   Aracaju 2018-01-01  190.67    1521     5

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df["Vendas"].mean()

122.61180089485438

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
111    Aracaju 2018-01-01   24.25   1523     1
124      Natal 2019-01-02   44.82   1034     3
54    Salvador 2019-01-01   46.54   1037     3
162   Salvador 2019-01-02   23.08   1036     2
81       Natal 2019-04-02  564.00    854     2
210      Natal 2019-01-02  197.64   1035     1
158   Salvador 2019-01-02  183.64   1037     3
27   Fortaleza 2019-01-01  212.37   1003     6
118     Recife 2019-03-02   17.70    981     5
151      Natal 2019-01-02   14.63   1035     1
180      Natal 2019-01-02  116.63   1035     2
235   Salvador 2019-01-03   41.84   1034     1
75    Salvador 2019-01-01  155.52   1034     1
52      Recife 2019-01-01   11.87    981     6
148   Salvador 2019-01-02   40.59   1037     3

In [ ]:
df["Vendas"].fillna(0, inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
df.dropna(how="all", inplace=True)

In [ ]:
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
df["Receita"].max()

3544.0

In [ ]:
df["Receita"].min()

3.34

In [ ]:
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [ ]:
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

In [ ]:
df["Data"] = df["Data"].astype("int64")

In [ ]:
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [ ]:
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [ ]:
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [ ]:
df["Ano_Venda"] = df["Data"].dt.year

In [ ]:
df.sample(5)

        Cidade       Data  Vendas  ... Receita  Receita/Vendas  Ano_Venda
32   Fortaleza 2019-01-01   43.33  ...  173.32             4.0       2019
186   Salvador 2019-01-02  169.09  ...  338.18             2.0       2019
48   Fortaleza 2019-01-01   40.71  ...  244.26             6.0       2019
22      Recife 2019-01-01   39.53  ...  118.59             3.0       2019
186      Natal 2019-01-02  169.09  ...  338.18             2.0       2019

[5 rows x 8 columns]

In [ ]:
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [ ]:
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [ ]:
df.sample(5)

        Cidade       Data  Vendas  ... Receita/Vendas  Ano_Venda  diferenca_dias
93      Recife 2019-01-01   17.45  ...            6.0       2019        365 days
10    Salvador 2019-01-01   30.97  ...            1.0       2019        365 days
104  Fortaleza 2019-01-01   40.50  ...            2.0       2019        365 days
225      Natal 2019-01-02   36.23  ...            1.0       2019        366 days
197   Salvador 2019-01-02   10.45  ...            2.0       2019        366 days

[5 rows x 9 columns]

In [ ]:
df["trimestre_venda"] = df["Data"].dt.quarter

In [ ]:
df.sample(5)

      Cidade       Data  Vendas  ... Ano_Venda  diferenca_dias  trimestre_venda
95   Aracaju 2018-01-01  127.43  ...      2018          0 days                1
4     Recife 2019-02-14   19.89  ...      2019        409 days                1
40   Aracaju 2018-01-01    6.99  ...      2018          0 days                1
157    Natal 2019-01-02  150.17  ...      2019        366 days                1
57     Natal 2019-02-24  425.00  ...      2019        419 days                1

[5 rows x 10 columns]

In [ ]:
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [ ]:
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... Ano_Venda  diferenca_dias  trimestre_venda
124  Fortaleza 2019-03-02   47.98  ...      2019        425 days                1
141     Recife 2019-03-02  182.75  ...      2019        425 days                1
118  Fortaleza 2019-03-02   17.70  ...      2019        425 days                1
110   Salvador 2019-03-02  185.93  ...      2019        425 days                1
113     Recife 2019-03-02   38.63  ...      2019        425 days                1
108  Fortaleza 2019-03-02  152.89  ...      2019        425 days                1
116  Fortaleza 2019-03-02   79.10  ...      2019        425 days                1
141   Salvador 2019-03-02    9.08  ...      2019        425 days                1
123     Recife 2019-03-02   20.22  ...      2019        425 days                1
136   Salvador 2019-03-02   13.81  ...      2019        425 days                1
127   Salvador 2019-03-02  240.61  ...      2019        425 days                1
115  Fortaleza 2019-03-02   12.23  ...      2019        425 days                1
112   Salvador 2019-03-02   43.00  ...      2019        425 days                1
111   Salvador 2019-03-02  147.35  ...      2019        425 days                1
109   Salvador 2019-03-02  124.37  ...      2019        425 days                1
132  Fortaleza 2019-03-02   17.49  ...      2019        425 days                1
115   Salvador 2019-03-02  202.33  ...      2019        425 days                1
120   Salvador 2019-03-02  140.17  ...      2019        425 days                1
134  Fortaleza 2019-03-02  195.18  ...      2019        425 days                1
130  Fortaleza 2019-03-02   12.36  ...      2019        425 days                1

[20 rows x 10 columns]